<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Editora</title>
</head>
<body>
    <h1>Editar Editora</h1>

    {% for editora in editora  %}
    <form action="{% url 'editarE' editora.id %}" method="post">
        {% csrf_token %}
        <label for="nome">Nome da Editora:</label><br>
        <input type="text" id="nome" name="nome" value="{{editora.nome}}" required><br><br>

        <label for="telefones">Telefones:</label><br>
        <input type="tel" id="telefones" name="fone" value="{{editora.fone}}" required><br><br>
       
        <input type="submit" value="Enviar"> <a href="{% url 'listarE' %}">Ver Editoras</a>
    </form>
    {% endfor %}
</body>
</html>
