<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <a href="{% url 'cadastrarE' %}">Cadastrar Editora</a>
    <table style="border: 10px; text-align: center;">
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>fone</th>
            <th>Deletar</th>
            <th>Editar</th>
        </tr>
        {% for item in editoras %}

        <tr>
            <td>{{item.id}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.fone}}</td>
            <td>
                <form action="{% url 'deletarE' item.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Excluir</button>
                </form>
            </td>
            <td>
                <form action="{% url 'Tela_Editar' item.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Editar</button>
                </form>
            </td>
        </tr>

        {% endfor %}
    </table>

</body>

</html>